.castle-header {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Align items with space between */
  // padding: 0px 10px 10px 10px;
  position: sticky; /* Keeps the header sticky */
  top: 0; /* Sticks it to the top */
  background-color: #e7e7e7; /* Match your body background or other color */
  z-index: 1000; /* Ensures it's above other content */
}

.castle-buttons {
  display: flex;
  align-items: center;
  flex: 1; /* Allow this section to grow and take up available space */
  // gap: 10px; /* Space between castle buttons */
}

.castle-button {
  flex-grow: 1; /* Allow buttons to grow and fill available space */
  margin-top: unset;
  height: 35px;
  border-radius: 0px;
}

.add-castle-button {
  margin: 10px;
}
