.combo-tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #997355; 
    border-radius: 8px;
    width: 70px; /* Fixed width for each tile */
    height: 90px; /* Fixed height for each tile */
    padding: 5px; /* Padding inside each tile */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow for visual effect */
    background-size: contain; /* Ensure the image is contained within the tile */
    background-repeat: no-repeat; /* Prevent background image repetition */
    background-position: center; /* Center the background image */
    margin: 5px; /* Margin between tiles */
    text-align: center;
  }
  
  .hero-image {
    width: 65px; /* Width of image container */
    height: 65px; /* Height of image container */
    background-color: #fff; /* Default background color if no image */
    background-size: cover; /* Ensure the image covers the container */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Prevent image repetition */
    border-radius: 8px; /* Rounded corners */
  }
  
  .combo-text {
    font-size: 12px; /* Font size for hero name */
    color: #ffffff; /* Text color */
    text-align: center; /* Center text within the div */
    margin-top: 5px; /* Space between image and name */
  }
  
  .quantity-controls {
    display: flex;
    align-items: center;
    gap: 5px; /* Space between buttons and text */
    margin-top: 5px; /* Space between hero name and controls */
  }
  
  .quantity-button {
    background: #fff;
    border: none;
    border-radius: 4px;
    padding: 0 8px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .quantity-text {
    font-size: 14px;
    color: #fff;
  }


button {
  background-color: #94999e; /* Primary button color */
  color: white; /* Text color */
  border: none; /* Remove default border */
  border-radius: 4px; /* Rounded corners */
  font-size: 14px; /* Font size */
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s; /* Smooth background color transition */
  margin: 0 5px; /* Space between buttons and between button and text */
}

button:hover {
  background-color: #0056b3; /* Darker color on hover */
}

button:focus {
  outline: none; /* Remove default focus outline */
}

button:disabled {
  background-color: #c0c0c0; /* Disabled button color */
  cursor: not-allowed; /* Show not-allowed cursor */
}