/* Container for each hero tile */
.combo-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #997355; 
  border-radius: 8px;
  width: 70px; /* Fixed width for each tile */
  height: 90px; /* Fixed height for each tile */
  padding: 5px; /* Padding inside each tile */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow for visual effect */
  background-size: contain; /* Ensure the image is contained within the tile */
  background-repeat: no-repeat; /* Prevent background image repetition */
  background-position: center; /* Center the background image */
  margin: 5px; /* Margin between tiles */
  text-align: center;
  position: relative; /* Position relative for the favorite button */
}

/* Container for the hero image */
.hero-image {
  width: 65px; /* Width of image container */
  height: 65px; /* Height of image container */
  background-color: #fff; /* Default background color if no image */
  background-size: cover; /* Ensure the image covers the container */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Prevent image repetition */
  border-radius: 4px; /* Rounded corners */
  border: solid 1px whitesmoke;
}

/* Text styling for hero name and other text */
.combo-text {
  font-size: 12px; /* Font size for hero name */
  color: #ffffff; /* Text color */
  text-align: center; /* Center text within the div */
  margin-top: 5px; /* Space between image and name */
  position: relative; /* For positioning the circle */
}

/* Container for hero copy display and buttons */
.hero-copy-display {
  display: flex;
  align-items: center;
  justify-content: center; /* Center align the content */
  font-size: 14px; /* Font size for the number */
  font-weight: bold;
  margin-top: 3px;
}

.hero-copy-display span {
  min-width: 30px; /* Minimum width to handle up to 3 characters */
  width: 30px; /* Fixed width to ensure consistency */
  text-align: center; /* Center text within the container */
}

/* Container for quantity controls */
.quantity-controls {
  display: flex;
  align-items: center;
  justify-content: center; /* Center the content */
  gap: 5px; /* Space between buttons and text */
  margin-top: 5px; /* Space between hero name and controls */
}

/* Styling for the buttons to adjust their appearance */
.quantity-button {
  background: #fff;
  border: none;
  border-radius: 4px;
  padding: 0 8px;
  font-size: 16px;
  cursor: pointer;
}

.quantity-text {
  font-size: 14px;
  color: #fff;
}

/* General button styles */
button {
  background-color: #94999e; /* Primary button color */
  color: white; /* Text color */
  border: none; /* Remove default border */
  border-radius: 4px; /* Rounded corners */
  font-size: 14px; /* Font size */
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s; /* Smooth background color transition */
  margin-top: 5px; 
}

button:hover {
  background-color: #0056b3; /* Darker color on hover */
}

button:focus {
  outline: none; /* Remove default focus outline */
}

button:disabled {
  background-color: #c0c0c0; /* Disabled button color */
  cursor: not-allowed; /* Show not-allowed cursor */
}

/* Styles for the star favorite button */
.favorite-button {
  position: absolute;
  top: 3px;
  left: 2px;
  background-color: transparent;
  border: none;
  font-size: 15px;
  cursor: pointer;
  z-index: 1;
  color: rgb(253, 234, 127);
  padding: unset;
  margin: unset;
}

.favorite-button:hover {
  opacity: 0.8;
}

/* Text color classes based on percentage */
.zero { color: #ff3232; } /* Red */
.quarter { color: #FFA07A; } /* Orange */
.half { color: #FFFF99; } /* Yellow */
.threeQuarters { color: #bffb75; } /* Lime */
.full { color: #45d74b; } /* Green */
